/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}

table {
    table-layout: fixed;
}

    table td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.live {
    overflow: hidden;
}

    .live > li > a {
        color: #000;
    }

    .live > li {
        list-style: none;
        position: relative;
        padding: 0 0 0 2em;
        -webkit-transition: .12s;
        transition: .12s;
    }

        .live > li::before {
            position: absolute;
            content: '\2022';
            font-family: Arial;
            color: #000;
            top: 0;
            left: 0;
            text-align: center;
            font-size: 2em;
            opacity: .5;
            line-height: .75;
            -webkit-transition: .5s;
            transition: .5s;
        }

        .live > li:hover {
            color: #000;
        }

            .live > li:hover::before {
                -webkit-transform: scale(2);
                -ms-transform: scale(2);
                transform: scale(2);
                opacity: 1;
                text-shadow: 0 0 4px;
                -webkit-transition: .1s;
                transition: .1s;
            }

    .live.type2 > li::before {
        content: '';
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 15px;
        line-height: 0;
        top: .27em;
        left: 5px;
    }

    .live.type2 > li:hover::before {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        border-radius: 5px;
        width: 25px;
        left: -10px;
        background: #000;
    }

    .live.numbers {
        counter-reset: xxx 0;
    }

        .live.numbers > li::before {
            content: counter(xxx,decimal) ".";
            counter-increment: xxx 1;
            font-family: 'Roboto Condensed';
            font-size: 1em;
            opacity: .5;
            line-height: 1.4;
            -webkit-transition: .5s;
            transition: .5s;
        }

        .live.numbers > li:hover:before {
            opacity: 1;
            left: -10px;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            text-shadow: none;
            -webkit-transition: .12s;
            transition: .12s;
        }
